RTTWebApp/Connected Services/ServiceUser/ServiceUser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceUser" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57284/ServiceUser.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57284/ServiceUser.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57284/ServiceUser.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" />
      <xsd:import schemaLocation="http://localhost:57284/ServiceUser.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceUser_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_GetAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddress" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_GetAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_GetUserAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAddress" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_GetUserAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_GetAllExportDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExportDetails" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_GetAllExportDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExportDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_InsertUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserDetails" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_InsertUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_InsertUserAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserAddress" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_InsertUserAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IServiceUser_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceUser">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/Get" message="tns:IServiceUser_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/GetResponse" message="tns:IServiceUser_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/GetAll" message="tns:IServiceUser_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/GetAllResponse" message="tns:IServiceUser_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/GetAddress" message="tns:IServiceUser_GetAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/GetAddressResponse" message="tns:IServiceUser_GetAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/GetUserAddress" message="tns:IServiceUser_GetUserAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/GetUserAddressResponse" message="tns:IServiceUser_GetUserAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllExportDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/GetAllExportDetails" message="tns:IServiceUser_GetAllExportDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/GetAllExportDetailsResponse" message="tns:IServiceUser_GetAllExportDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/InsertUserDetails" message="tns:IServiceUser_InsertUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/InsertUserDetailsResponse" message="tns:IServiceUser_InsertUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/InsertUserAddress" message="tns:IServiceUser_InsertUserAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/InsertUserAddressResponse" message="tns:IServiceUser_InsertUserAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/Update" message="tns:IServiceUser_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/UpdateResponse" message="tns:IServiceUser_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUser/Delete" message="tns:IServiceUser_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUser/DeleteResponse" message="tns:IServiceUser_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceUser" type="tns:IServiceUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/GetAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAddress">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/GetUserAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllExportDetails">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/GetAllExportDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserDetails">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/InsertUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserAddress">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/InsertUserAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceUser/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceUser">
    <wsdl:port name="BasicHttpBinding_IServiceUser" binding="tns:BasicHttpBinding_IServiceUser">
      <soap:address location="http://localhost:57284/ServiceUser.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>